.frame {
    margin : 10px;
    width: 1800px;
    height: 800px;
    background-color: rgb(161, 148, 128);
    padding: 30px;
}

.outter {
    width: 1750px;
    height: 500px;
    background-color: antiquewhite;
  
    padding: 10px;
}

.clr {
    background-color: white;
    width: 300px;
    height: 70px; 
    margin: 8px;
    font-size: 20px;
    text-align: center;
}

.nu-one {
    margin : 10px;
    width: 400px;
    height: 400px;
    background-color: rgb(123, 197, 62);
    font-size: 12px;
    left: 250px;
    font-size: 12px;
}


.nu-two {
    margin : 10px;
    width: 1000px;
    height: 400px;
    font-size: 20px;
    background-color: rgb(209, 209, 219);
}

.num {
    margin : 10px;
    width: 400px;
    height: 400px;
    background-color: rgb(62, 98, 197);
}

.tree {
    margin : 10px;
    width: 1800px;
    height: 100px;
    background-color: rgb(213, 231, 198);
}